/* Section Styles */
.contact-section {
    margin-top: 70px;
    text-align: center;
}

/* Contact Information Styles */
.contact-info {
    padding: 30px;
    border-radius: 10px;
    color: white;
    background-color:  rgb(19, 20, 109);
    transition: background-color 0.3s;
}

.contact-info:hover {
    background-color:rgb(160, 48, 48);
}

/* Message Form Styles */
.message-form {
    padding: 30px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    background-color:  rgb(19, 20, 109);
    transition: background-color 0.3s;
}

.message-form:hover {
    background-color:  rgb(160, 48, 48);
}

/* Send Message Button Styles */
.send-message-btn {
    transition: transform 0.3s;
    margin-top: 30px;
}

.send-message-btn:hover {
    transform: scale(1.1);
}



/* Responsive Design */
/* For tablets and larger smartphones */
@media (max-width: 768px) {

    .contact-info-style,
    .message-form-style {
        padding: 20px;
    }

    .send-message-button-style {
        margin-top: 15px;
    }
}

/* For smaller smartphones */
@media (max-width: 576px) {

    .contact-info-style,
    .message-form-style {
        padding: 15px;
    }

    .send-message-button-style {
        margin-top: 10px;
    }
}