/* styles.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}


/* General container style */
.container {
  margin-top: 1px;
}

/* Section heading style */
.section-heading {
  color: #8e44ad;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

/* Centered image style */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mt-4 {
  margin-top: 1.5rem !important;
}